<div id="contactoMain">
  <form
    id="divContacto"
    #dataForm="ngForm"
    (ngSubmit)="submitData(dataForm)"
    enctype="multipart/form-data"
    novalidate
  >
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nombre</label>
      <input
        ngModel
        name="nombre"
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Manuel"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Apellido</label>
      <input
        ngModel
        name="apellido"
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Sánches"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Número de teléfono</label
      >
      <input
        ngModel
        name="telefono"
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="654712694"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input
        ngModel
        name="email"
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="ejemplo@correo.com"
      />
    </div>
    <div class="textarea">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Coméntanos tus dudas :D</label
      >
      <textarea
        ngModel
        name="comentario"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="7"
        resize="none"
      ></textarea>
    </div>
    <Button
    android:id="@+id/textButton"
    android:layout_width="wrap_content"
    android:layout_height="wrap_content"
    android:text="Text button"
    style="@style/Widget.MaterialComponents.Button.TextButton"
  >Enviar</Button>
  </form>
</div>
