<div id="contactoMain">
  <div id="divContacto">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Manuel"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Apellido</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Sánches"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Número de teléfono</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="654712694"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="ejemplo@correo.com"
      />
    </div>
    <div class="textarea">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Coméntanos tus dudas :D</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="7"
        resize="none"
      ></textarea>
    </div>
    <button mat-raised-button>Enviar</button>
  </div>
</div>
