<div id="juego">
  <div id="titulo">
    <h1>{{ rebut | upperCapital }}</h1>
    <img [@enterState] src="{{ img }}" />
  </div>
  <div id="contenidoJuego">
    <h5>Compañía: {{ compania }}</h5>
    <h5>Plataforma: {{ plataforma }}</h5>
    <h5>Género: {{ genero }}</h5>
    <hr size="5px" color="black" width="75%" />
    <h4>Descripción:</h4>
    <p>
      {{ descripcion }}
    </p>
  </div>

  <div id="abajo">
    <h3>Tráiler</h3>
    <div layout="column" flex>
      <video layout-fill preload="" controls>
        <source src="{{ trailer }}" type="video/mp4" />
      </video>
    </div>
  </div>
</div>
