<mat-drawer-container class="example-container">
  <mat-drawer class="example-container-lateral" mode="side" opened>

    <h6>Plataformas</h6>
    <mat-checkbox id="" class="example-margin">Nintendo Switch</mat-checkbox><br>
    <mat-checkbox id="" class="example-margin">PC</mat-checkbox><br>
    <mat-checkbox id="" class="example-margin">PS5</mat-checkbox><br>
    <mat-checkbox id="" class="example-margin">X-Box One</mat-checkbox>

    <h6>Género</h6>
    <mat-checkbox id="" class="example-margin">Aventura</mat-checkbox><br>
    <mat-checkbox id="" class="example-margin">Estrategia</mat-checkbox><br>
    <mat-checkbox id="" class="example-margin">Simulación</mat-checkbox><br>
    <mat-checkbox id="" class="example-margin">Terror</mat-checkbox><br>

    <h6>Compañia</h6>
    <mat-checkbox id="" class="example-margin">Blizzard</mat-checkbox><br>
    <mat-checkbox id="" class="example-margin">EA</mat-checkbox><br>
    <mat-checkbox id="" class="example-margin">Riot Games</mat-checkbox><br>
    <mat-checkbox id="" class="example-margin">Sony</mat-checkbox><br>

  </mat-drawer>
  <mat-drawer-content>
    
    <div id="juegosTop"><img src="../assets/llamita.png"><h2>TOP JUEGOS LLAMITA</h2><img src="../assets/llamita.png"></div>

    <div class="botonFavorito">
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>

  </mat-drawer-content>
</mat-drawer-container>
