.example-container {
  width: 100%;
  height: 100%;
}

.example-container-lateral{
  width: 15%;
  padding-left:2%;

}

mat-checkbox{
  margin-left: 15%;
}

h6{
  margin-top:10%;
}

#juegosTop{
  display: flex;
  justify-content: space-around;

  margin-top:3rem;
  margin-left: 13rem;

  width: 70rem;
  height: 5rem;

  color: white;
  background-color: #757575;
  border:1px rgb(65, 64, 64) solid;
}

#juegosTop h2{
  margin-top: 1.4rem;
}

.botonFavorito{
    position: fixed;
    margin-left:80%;
    margin-top: 35%;
  }