.example-container {
  width: 100%;
  height: 85.8%;
}

.example-container-lateral {
  width: 15%;
  padding-left: 2%;
}

mat-checkbox {
  margin-left: 15%;
}

h6 {
  margin-top: 10%;
}

#juegosTopTitulo {
  display: flex;
  justify-content: space-around;

  margin-top: 3rem;
  margin-left: 13rem;

  width: 70rem;
  height: 5rem;

  color: white;
  background-color: #757575;
  border: 1px rgb(65, 64, 64) solid;
}

#juegosTopTitulo h2 {
  margin-top: 1.4rem;
}

.botonFavorito {
  position: fixed;
  margin-left: 80%;
  margin-top: 37%;
}

/*JUEGOS*/

#juegosTop {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  height: 100%;
}

#juegosTop img {
  width: 260px;
  height: 350px;
  margin: auto;
}

#juegosTop img:hover {
  cursor: pointer;
}

#juegosTop div img:hover {
  box-shadow: 8px 5px rgba(0, 0, 255, 0.4);
  border-radius: 20px;
}

#juegosTop h4 {
  margin-top: 4%;
  text-align: center;
}

#juegosTop span {
  display: flex;
  align-items: baseline;
}

#juegosTop mat-progress-bar {
  width: 70%;
  margin-left: 30px;
  height: 12px;
}

#juegosTop h5 {
  margin-left: 10px;
}

#juegosMAS {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 6%;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  height: 100%;
}

#juegosMAS img {
  width: 260px;
  height: 350px;
  margin: auto;
}

#juegosMAS img:hover {
  cursor: pointer;
}

#juegosMAS div img:hover {
  box-shadow: 8px 5px rgba(0, 0, 255, 0.4);
  border-radius: 20px;
}

#juegosMAS h4 {
  margin-top: 4%;
}

#juegosMAS span {
  display: flex;
  align-items: baseline;
}

#juegosMAS mat-progress-bar {
  width: 70%;
  margin-left: 30px;
  height: 12px;
}

#juegosMAS h5 {
  margin-left: 10px;
}

#like {
  position: absolute;
}

#like img {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -435px;
  left: 215px;
}

#like img:hover {
  position: absolute;
  width: 50px;
  height: 30px;
  top: -440px;
  left: 210px;
  box-shadow: 0px 0px transparent !important;
}

h4 {
  height: 48px;
}
