<mat-drawer-container class="example-container">
  <mat-drawer class="example-container-lateral" mode="side" opened>
    <h6>Plataformas</h6>
    <mat-checkbox color="primary" id="" class="example-margin"
      >Nintendo Switch</mat-checkbox
    ><br />
    <mat-checkbox color="primary" id="" class="example-margin">PC</mat-checkbox
    ><br />
    <mat-checkbox color="primary" id="" class="example-margin">PS5</mat-checkbox
    ><br />
    <mat-checkbox color="primary" id="" class="example-margin"
      >X-Box One</mat-checkbox
    >

    <h6>Género</h6>
    <mat-checkbox color="primary" id="" class="example-margin"
      >Aventura</mat-checkbox
    ><br />
    <mat-checkbox color="primary" id="" class="example-margin"
      >Estrategia</mat-checkbox
    ><br />
    <mat-checkbox color="primary" id="" class="example-margin"
      >Simulación</mat-checkbox
    ><br />
    <mat-checkbox color="primary" id="" class="example-margin"
      >Terror</mat-checkbox
    ><br />

    <h6>Compañia</h6>
    <mat-checkbox color="primary" id="" class="example-margin"
      >Blizzard</mat-checkbox
    ><br />
    <mat-checkbox color="primary" id="" class="example-margin">EA</mat-checkbox
    ><br />
    <mat-checkbox color="primary" id="" class="example-margin"
      >Microsoft</mat-checkbox
    ><br />
    <mat-checkbox color="primary" id="" class="example-margin"
      >Rockstar Games</mat-checkbox
    ><br />
    <mat-checkbox color="primary" id="" class="example-margin"
      >Sony</mat-checkbox
    ><br />
  </mat-drawer>

  <div id="contenedorFav"></div>

  <mat-drawer-content>
    <div class="botonFavorito">
      <button mat-icon-button color="warn" aria-label="">
        <mat-icon
          routerLink="/favoritos"
          routerLinkActive="active"
          matBadge=" {{ arrayOnSave.length }}"
          matBadgeColor="warn"
          style="font-size: 40px"
          >favorite</mat-icon
        >
      </button>
    </div>
    <input
      style="position: fixed"
      id="busquedaPost"
      name="busquedaPost"
      placeholder="Busca tu título aquí"
      [(ngModel)]="busquedaPost"
    />

    <div id="jueguitos_titulo">
      <div id="juegosTopTitulo">
        <img src="../assets/llamita.png" />
        <h2>TOP JUEGOS</h2>
        <img src="../assets/llamita.png" />
      </div>

      <div id="juegosTop" [@images]="juegos.length">
        <div *ngFor="let juegos of arrayTopJuegos">
          <img
            (click)="irJuego(juegos)"
            routerLink="/juego"
            routerLinkActive="active"
            [src]="juegos.imagen"
          />
          <h4>{{ juegos.titulo | upperCapital }}</h4>

          <span>
            <mat-progress-bar
              mode="determinate"
              [value]="juegos.rating"
              aria-valuemin="0"
              aria-valuemax="5"
            ></mat-progress-bar>
            <h5>{{ juegos.rating }}</h5>
          </span>
          <div id="like">
            <img (click)="onSave(juegos)" src="../assets/corasao.png" />
          </div>
        </div>
        <!-- (click)="onFav(juegos)" -->
      </div>

      <div id="juegosTopTitulo">
        <h2>MÁS JUEGOS</h2>
      </div>
      <div id="juegosMAS" [@images]="juegos.length">
        <div *ngFor="let juegos of arrayJuegos | busqueda: busquedaPost">
          <img
            (click)="irJuego(juegos)"
            routerLink="/juego"
            routerLinkActive="active"
            [src]="juegos.imagen"
          />
          <h4>{{ juegos.titulo | upperCapital }}</h4>
          <span>
            <mat-progress-bar
              mode="determinate"
              [value]="juegos.rating"
            ></mat-progress-bar>
            <h5>{{ juegos.rating }}</h5>
          </span>
          <div id="like">
            <img
              (click)="onSave(juegos)"
              id="likeimg"
              src="../assets/corasao.png"
            />
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
