div{
    width: 13%;

}

img{
    width: 100%;
}

h4{
    margin-top: 4%;
    text-align: center;
}

span{
    display: flex;
    align-items: baseline;
}

mat-progress-bar{
    width: 70%;
    margin-left: 30px;
    height: 12px;
}

h5{
margin-left: 10px;
}
